@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #160823;
    font-family: 'poppins', sans-serif;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg, #161144, #210D26, #24243E);
    animation: bg 12s ease infinite;
}
.home-page-container{
    margin-bottom: 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
    padding: 15px 10%;
    margin: 20px;
    height: 30px;
    background-color: #26072d;
    border: 1px solid #8e2de2;
    border-radius: 15px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 50px #000;
}
.container li, a, button {
    font-weight: 500;
    font-size: 14px;
    color: rgba(250, 247, 247, 0.945);
    text-decoration: none;
}

.logo {
    height: 70px;
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-login{
    padding: 8px 40px;
    border-radius: 30px;
    color: #000000;
    background-color: white;
    border: none;
    transition: 0.5s;
}
.nav-login:hover{
    background-color: #8e2de2;
}
.menu-icon{
    height: 30px;
}
.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #8e2de2;
}
.page-description{
    text-align: center;
    color: rgb(151, 146, 146);
    font-size: 20px;
    margin-bottom:10px;
}
header{
    color: #fff;
    padding: 1px 2px;
    text-align: center;
}
.btn{
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    transition: 0.5s;
}
.btn:hover{
    background-color: #8e2de2;
}
.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.page-heading{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500; 
    margin: 5px;
}
.line{
    height: 5px;
    width: 500px;
    color: #3c1261;
    box-shadow: 10px 0 200px 20px #8e2de2;
    background-image: linear-gradient(45deg, #21139c, #9641ac, #6060e5);
}
.text{
    color: #fff;
    padding: 2px;
    text-align: center;
}
p{
    text-align: center;
}
.container h1{
    font-size: 2.5rem;
}
.container p{
    margin: 1rem 0;
}
.container a{
    display: inline-block;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
section{
    padding: 2rem;
    color:white;
}

.features, .industries{
    display: flex;
    gap: 2rem;
    justify-content: center ;
}
.card{
    background-color:#240739de;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
.testimonial {
    background: #240739de;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 8px;
    max-width: 600px;
    text-align: center;
}
.list{
    padding-left: 400px;
}
