@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #160823;
    font-family: 'poppins', sans-serif;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg, #161144, #210D26, #24243E);
    animation: bg 12s ease infinite;
} 

@keyframes bg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 0% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
    padding: 15px 10%;
    margin: 20px;
    height: 30px;
    background-color: #26072d;
    border: 1px solid #8e2de2;
    border-radius: 15px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 50px #000;
}
.home-page-container{
    margin-bottom: 100px;
}
.container li, a, button {
    font-weight: 500;
    font-size: 14px;
    color: rgba(250, 247, 247, 0.945);
    text-decoration: none;
}

.logo {
    height: 70px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-login{
    padding: 8px 40px;
    border-radius: 30px;
    color: #000000;
    background-color: white;
    border: none;
    transition: 0.5s;
}
.nav-login:hover{
    background-color: #8e2de2;
}
.menu-icon{
    height: 30px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #8e2de2;
}

.home-page-button-cta {
    flex-wrap: wrap;
    padding: 7px 18px;
    background-color: rgb(13, 155, 191);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.line{
    height: 5px;
    width: 500px;
    color: #3c1261;
    box-shadow: 10px 0 200px 20px #8e2de2;
    background-image: linear-gradient(45deg, #21139c, #9641ac, #6060e5);
}


.home-page-heading{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;   
}

.page-heading {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500; 
    margin: 5px;
}

.home-page-description{
    text-align: center;
    color: rgb(151, 146, 146);
}

.page-description{
    text-align: center;
    color: rgb(151, 146, 146);
    font-size: 14px;
    margin-bottom: 80px;
}

.home-page-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.home-page-button-1{
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    transition: 0.5s;
}

.home-page-button-2{
   padding: 10px 20px;
   background-color: black;
   border: none;
   border-radius: 5px;
   transition: 0.5s;
}

.home-page-button-1:hover{
    color: #8e2de2;
}

.home-page-button-2:hover{
    color: #8e2de2;
}

.section-main-container{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 100px;
}

.section-main-info{
    height: 60px;
    max-width: 100%;
    margin: 0 60px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.section-main-info div{
    color: white;
    margin: 0 50px;
}
.section-main-info h3{
    text-align: center;
    margin: 0;
}

.section-main-info p{
    margin: 0;
}

.section-page-container{
    margin-bottom: 40px;
}

.section-page-description-heading{
    font-weight: 500;
    text-align: center;
    color: rgb(151, 146, 146);
}
.page-description-heading{
    text-align: center;
    color: rgb(151, 146, 146);
    font-weight: 500;
}

.page-description-heading-right{
    color: rgb(151, 146, 146);
    font-weight: 500;
}


.section-partner-container{
    padding: 30px;
    flex-wrap: wrap;
}


.section-our-partner .section-company-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.section-company-logo img {
    height: 20px;
    object-fit: cover;
    margin-bottom: 5px;
    cursor: pointer;
}

.section-company-logo span{
    color: white;
    font-size: 10px;
}
.section-company-logo p{
    font-size: 8px;
    margin-top: 2px;
    color: gray;
}

.section-our-partners-info{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}


.section-company-logo div{
    border-radius: 13px;
    margin: 20px;
    height: 60px;
    width: 70px;
    padding: 25px 20px;
    transition: 0.5s;
    border: 1px solid #8e2de2;
}
.section-company-logo div:hover{
    box-shadow: 0px 0px 10px#8E2DE2;
}

.section-our-partner-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.section-our-partner-buttons-1 {
    padding: 10px 25px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
}

.section-our-partner-buttons-2{
    color: white;
    border: none;
    padding: 10px 20px;
    background: transparent;
    transition: ease 0.5s;
    border-bottom: 3px solid transparent;
}

.section-our-partner-buttons-1:hover{
    background-color: #8e2de2;
}
.section-our-partner-buttons-2:hover{
    color: #8e2de2;
    border-bottom: 3px solid #8e2de2;
}

.section-page-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 60px;
    flex-wrap: wrap;
}

.section-card {
    max-height: 350px;
    max-width: 400px;
    margin: 20px;
    border: 0.8px solid #4B0082;
    border-radius: 20px;
    padding: 10px;
   
}


.section-card img{
    max-width: 400px; 
    border-radius: 10px;
    object-fit: cover;  
    border-radius: 20px; 
}


.section-card-heading{
    color: white;
    font-size: 17px;
    margin: 5px 10px;
}

.section-card-description{
    color: white;
    font-size: 11px;
    margin: 5px 10px;
}

.section-card-button{
    padding: 8px 20px;
    background-color: #1B1B1B;
    border-radius: 40px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    border: 1px solid #4B0082;
    transition: 0.5s;
} 
.section-card-button i{
    margin-left: 5px;
}
.section-card-button:hover{
    color: #8e2de2;
}

.section-advantages-container {
    margin: 0 60px;
}

.section-advantage-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-advantages-card-area {
    padding: 20px;
    display: flex;
    margin: 0 40px;
    flex-wrap: wrap;
    gap: 5px;
}
.section-advantages-boxes {
    padding: 10px;
    margin: 20px; 
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 0 30px #080209;
    flex: 1 1 200px;
    max-width: 250px;
}

.section-advantages-boxes:hover {
    box-shadow: 0 0 10px #8E2DE2;
}
.section-advantages-boxes img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.section-advantage-heading {
    font-size: 16px;
    color: white;
    margin: 5px 10px;
    font-weight: 500;
    text-align: center;
}

.section-advantage-description {
    text-align: center;
    font-size: 11px;
    margin: 20px;
    color: white;
}

.section-crypto-container{
    margin: 60px 60px;
    padding: 30px;
    flex-wrap: wrap;
}

.section-crypto-area .section-crypto-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.section-crypto-div div{
    border-radius: 8px;
    margin: 15px;
    height: 120px;
    width: 190px;
    padding: 15px 25px;
    transition: 0.5s;
    box-shadow: 0 0 30px #080209;
    background-color: #080209;
    transition: 0.5s;
}

.section-crypto-div div img{
    display: block;
    margin: auto;
    max-height: 43px;
    min-width: none;
}

.section-crypto-div div p{
    text-align: center;
    font-size: 8px;
    color: white;
    padding-bottom: 10px;
}

.section-crypto-div div span p{
    font-size: 10px;
    padding: 2px;
    color: white;
    font-weight: 600;
}

.section-crypto-div div:hover{
    box-shadow: 0 0 25px#8E2DE2;
}

.section-edge-container{
    margin: 100px;
}
.section-edge-area{
    padding: 40px 0 0 0;
    margin-bottom: 120px;  
}

.section-edge-area-container{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.section-edge-data{
    border-bottom: 1px solid white;
    padding: 10px;
}

.section-edge-data img{
    border-radius: 50px;
    padding: 12px;
    height: 25px;
    display: block;
    margin: auto;
    border: 5px solid #1B1B1B;
    background-color: antiquewhite;
}

.section-edge-heading{
    font-size: 14px;
    color: white;
    margin: 10px 10px;
    font-weight: 600;
    text-align: center
}

.section-edge-description{
    font-size: 12px;
    color: rgb(151, 146, 146);
    font-weight: 500;
    text-align: center;
    margin: 0 25px
}

.section-edge-button{
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 5px;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.section-edge-button:hover{
    color: #8e2de2;
}

.section-pricing-container{
    margin: 0 60px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.pricing-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing-cards div{
    border-radius: 20px;
    height: 450px;
    width: 200px;
    margin: 10px;
    transition: 0.5s;
    border: 1px solid #8E2DE2;
}

.pricing-cards div:hover{
    box-shadow: 0 0 10px #8E2DE2;
}

.pricing-cards-info{
    padding: 10px 30px;
    color: white;
    margin: 0;
}

.pricing-cards-info span{
    font-size: 20px;
    font-weight: 700;
    margin: 0 3px 0 0;
}

.pricing-cards .border-line {
    max-height: 1px;
    width: auto;
    margin: 0 auto;
}

.pricing-cards-info ul{
    padding: 0 20px;
    margin-left: 0px;
}

.pricing-cards-info li{
    font-size: 9px;
    font-weight: 300;
}

.pricing-cards-button{
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    transition: 0.5s;
}

.pricing-cards-button:hover{
    color: #8e2de2;
}


.footer-container{
    padding: 50px;
    margin: 0 60px;
}

.footer-content{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    border: 2px solid  #8E2DE2;
}

.footer-email-subsciption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-input-email{
    padding: 12px 30px;
    text-align: center;
    color: white;
    border: none;
    background-color: #000000;
    border-radius: 5px;
    margin: 10px; 
    transition: 0.5s;
}

.footer-input-email:hover{
    color: #8e2de2;
}

.footer-subscribe-button{
    padding: 10px 12px;
    color: #000000;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.footer-subscribe-button:hover{
    color: #8e2de2;
}

footer 
{
background-color:#080209;
color: #fff;
padding: 5px 0;
text-align: center;
font-family: Arial, sans-serif;
}

.footer-container-1 {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
}

.footer-section {
flex: 1;
margin: 20px;
min-width: 250px;
}

.footer-section h2 {
font-size: 20px;
margin-bottom: 15px;
border-bottom: 2px solid #fff;
display: inline-block;
padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
font-size: 14px;
line-height: 1.8;
}

.footer-section ul {
list-style: none;
padding: 0;
}

.footer-section ul li {
margin-bottom: 10px;
}

.footer-section ul li a {
color: #fff;
text-decoration: none;
transition: color 0.3s;
}

.footer-section ul li a:hover {
color: #8E2DE2;
}

.footer-section .social-icons {
margin-top: 20px;
}

.footer-section .social-icons a {
color: #fff;
margin: 0 10px;
font-size: 18px;
transition: color 0.3s;
}

.footer-section .social-icons a:hover {
color: #8E2DE2;
}

.footer-bottom {
margin-top: 30px;
font-size: 14px;
padding-top: 10px;
}



@media only screen and (min-width: 769px) {

.menu-icon{
    display: none;
}
.section-main-info {
    padding: 15px;
}

}

@media only screen and (min-width: 601px) and (max-width: 768px) {
.menu-icon{
    display: none;
}
.container li, a, button{
    font-size: 10px;
}
.nav-login{
    display: none;
}

.container li, a nav{
    font-size: 12px;
}

.home-page-heading {
    font-size: 1.8rem;
}

.page-description {
    font-size: 13px;
}


.section-main-info div{
    color: white;
    margin: 50px;
}

.section-page-card{
    margin: 10px;
}

.section-card img{
    height: 100%;
    width: 100%; 
}

.section-advantages-container{
    margin: 10px;
}

.section-advantages-card-area{
    margin: 10px;
}

.section-crypto-div div{
    min-height: 100px;
    max-width: 100px;
}

.section-crypto-div div img{
    display: block;
    margin: auto;
    max-height: 23px;
    min-width: none;
}

.section-crypto-div div p{
    text-align: center;
    font-size: 6px;
    color: white;
    padding-bottom: 10px;
}

.section-crypto-div div span p{
    font-size: 12px;    
}

.section-crypto-container{
    margin: auto;
    padding: auto;
    flex-wrap: wrap;
}

.section-pricing-container{
    margin: 25px;
}
.page-description {
    font-size: 10px;
}

.pricing-cards div {
    width: 90%;
    margin: 10px 50px;
}

.footer-container {
    padding: 10px;
    margin: 50px;
}
.responsive-text-input{
    padding: 8px 20px;
}

}

@media only screen and (max-width: 600px){
.menu-icon{
    height: 10px;
}

.container li, a {
    display: none;
}
.container img{
    height: 40px;
}
.responsive-button{
    font-size: 10px;
    padding: 8px 10px;
}

.responsive-text-input{
    padding: 8px 12px;
}

.page-heading{
    font-size: 17px;
}
.page-description{
    font-size: 7px;
    text-wrap: wrap;
}
.home-page-heading {
    font-size: 17px;
}

.section-main-info div{
    color: white;
    margin: 10px;
}
.section-page-card{
    margin: 10px;
}

.section-card img{
    height: 100%;
    width: 100%; 
}

.section-advantages-container{
    margin: 10px;
}

.section-advantages-card-area{
    margin: 10px;
}

.section-crypto-div div{
    min-height: 100px;
    max-width: 100px;
}

.section-crypto-div div img{
    display: block;
    margin: auto;
    max-height: 23px;
    min-width: none;
}

.section-crypto-div div p{
    text-align: center;
    font-size: 6px;
    color: white;
    padding-bottom: 10px;
}

.section-crypto-div div span p{
    font-size: 12px;    

}

.section-crypto-container{
    margin: auto;
    padding: auto;
    flex-wrap: wrap;
}

.section-pricing-container{
    margin: 25px;
}
.page-description {
    font-size: 10px;
}

.pricing-cards div {
    width: 90%;
    margin: 10px auto;
}

.footer-container {
    padding: 10px;
    margin: 10px;
}


}
