@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background: #7b086289;
    color: #fff;
    padding: 0;
    text-align: center;
    border-radius: 5px;
}
header h1 {
    font-size: 2.5rem;
}
nav ul {
    list-style: none;
    margin-top: 10px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
 nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}
.survey{
    background-color: bisque;
   padding: 20px;
   border-radius: 50px;
}
.benefit{
font-family: "Jaro", sans-serif;
font-weight: normal;
}

.box{
    font-family: 'poppins', sans-serif;
}


