@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #160823;
    font-family: 'poppins', sans-serif;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg, #161144, #210D26, #24243E);
    animation: bg 12s ease infinite;
} 

@keyframes bg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 0% 30%;
    }
    100%{
        background-position: 0% 50%;
    }
}


.home-page-container{
    margin: -30px -50px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1000px;
    padding: 15px 10%;
    margin: 20px;
    height: 30px;
    background-color: #26072d;
    border: 1px solid #8e2de2;
    border-radius: 15px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 50px #000;
}
.home-page-container{
    margin-bottom: 100px;
}
.container li, a, button {
    font-weight: 500;
    font-size: 14px;
    color: rgba(250, 247, 247, 0.945);
    text-decoration: none;
}

.logo {
    height: 70px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-login{
    padding: 8px 40px;
    border-radius: 30px;
    color: #000000;
    background-color: white;
    border: none;
    transition: 0.5s;
}
.nav-login:hover{
    background-color: #8e2de2;
}
.menu-icon{
    height: 30px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #8e2de2;
}

.home-page-button-cta {
    flex-wrap: wrap;
    padding: 7px 18px;
    background-color: rgb(13, 155, 191);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.line{
    height: 5px;
    width: 500px;
    color: #3c1261;
    box-shadow: 10px 0 200px 20px #8e2de2;
    background-image: linear-gradient(45deg, #21139c, #9641ac, #6060e5);
}


.home-page-heading{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;   
}

.page-heading {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500; 
    margin: 5px;
}

.home-page-description{
    text-align: center;
    color: rgb(151, 146, 146);
}

.page-description{
    text-align: center;
    color: rgb(151, 146, 146);
    font-size: 14px;
    margin-bottom: 80px;
}

.home-page-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.home-page-button-1{
    margin: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #000000;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    transition: 0.5s;
}

.home-page-button-2{
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.home-page-button-1:hover{
    color: #8e2de2;
}

.home-page-button-2:hover{
    color: #8e2de2;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 75vh;
}

.login-container{
    width: 380px;
    background-color: transparent;
    border: 1px solid #8E2DE2;
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
}

.login-container:hover{
    box-shadow: 0px 0px 5px#8E2DE2;
    transition: ease 0.5s;
}

.login-container h1{
    font-size: 36px;
    text-align: center;
}

.login-container .input-box{
    position: relative;
    width: 85%;
    height: 25px;
    margin: 55px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2 );
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 15px 35px 15px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    left: 350px;
    top: 120%;
    transform: translateY(-50%);
    font-size: 20px;

}

.login-container .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 0px 0 15px ;
}

.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.login-container .btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.login-container .btn:hover{
    color: black;
    background-color: #8e2de2;
    transition: ease 0.5s;
    box-shadow: 0 0 5px #333;
}

.login-container .register{
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 769px) {
    body{
        margin: 50px;
    }
    .menu-icon{
        display: none;
    }
    .section-main-info {
        padding: 15px;
    }
    
    }
    
@media only screen and (min-width: 601px) and (max-width: 768px) {
    body{
        margin: 25px;
        overflow-x: hidden;
    }
    .home-page-container{
        padding-left: 5px;
        padding-right: px;
        margin: -40px;
        margin-top: -10px;
        margin-right: -35px;
            
    }
    
        .menu-icon{
        display: none;
    }
    .container li, a, button{
        font-size: 10px;
    }
    .nav-login{
        display: none;
    }
    
    .container li, a nav{
        font-size: 12px;
    }
    
    .home-page-heading {
        font-size: 1.8rem;
    }
    
    .page-description {
        font-size: 13px;
    }
    
    
    .section-main-info div{
        color: white;
        margin: 50px;
    }
    
    .section-page-card{
        margin: 10px;
    }
    
    .section-card img{
        height: 100%;
        width: 100%; 
    }
    
    .section-advantages-container{
        margin: 10px;
    }
    
    .section-advantages-card-area{
        margin: 10px;
    }
    
    .section-crypto-div div{
        min-height: 100px;
        max-width: 100px;
    }
    
    .section-crypto-div div img{
        display: block;
        margin: auto;
        max-height: 23px;
        min-width: none;
    }
    
    .section-crypto-div div p{
        text-align: center;
        font-size: 6px;
        color: white;
        padding-bottom: 10px;
    }
    
    .section-crypto-div div span p{
        font-size: 12px;    
    
    }
    
    .section-crypto-container{
        margin: auto;
        padding: auto;
        flex-wrap: wrap;
    }
    
    .section-pricing-container{
        margin: 25px;
    }
    .page-description {
        font-size: 10px;
    }
    
    .pricing-cards div {
        width: 90%;
        margin: 10px 50px;
    }
    
    .footer-container {
        padding: 10px;
        margin: 50px;
    }
    
    .footer-input-email{
        padding: 12px 10px;
    }
}
    
@media only screen and (max-width: 600px){
    body{
        margin: 25px;
        overflow-x: hidden;
    }
    .home-page-container{
        padding-left: 5px;
        padding-right: px;
        margin: -40px;
        margin-top: -10px;
        margin-right: -35px;
        
    }

    .login-container{
        margin: 0px 20px;
    }

    .input-box i{
        left: 300px;
        font-size: 18px;
    }

    .logo-1{
        display: none;
    }
    .container li, a  button {
        display: none;
    }
    .container img{
        height: 40px;
    }
    
    .page-heading{
        font-size: 17px;
    }
    .page-description{
        font-size: 7px;
        text-wrap: wrap;
    }
    .home-page-heading {
        font-size: 17px;
    }
    
    .section-main-info div{
        color: white;
        margin: 10px;
    }
    .section-page-card{
        margin: 10px;
    }
    
    .section-card img{
        height: 100%;
        width: 100%; 
    }
    
    .section-advantages-container{
        margin: 10px;
    }
    
    .section-advantages-card-area{
        margin: 10px;
    }
    
    .section-crypto-div div{
        min-height: 100px;
        max-width: 100px;
    }
    
    .section-crypto-div div img{
        display: block;
        margin: auto;
        max-height: 23px;
        min-width: none;
    }
    
    .section-crypto-div div p{
        text-align: center;
        font-size: 6px;
        color: white;
        padding-bottom: 10px;
    }
    
    .section-crypto-div div span p{
        font-size: 12px;    
    
    }
    
    .section-crypto-container{
        margin: auto;
        padding: auto;
        flex-wrap: wrap;
    }
    
    .section-pricing-container{
        margin: 25px;
    }
    .page-description {
        font-size: 10px;
    }
    
    .pricing-cards div {
        width: 90%;
        margin: 10px auto;
    }
    
    .footer-container {
        padding: 10px;
        margin: 10px;
    }
    
    .footer-input-email{
        padding: 12px 10px;
    }
    
    .login-container{
        height: auto;
    }
    
}