@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    box-sizing: border-box;
    margin: 0 0 100px;
    padding: 0;
    font-family: 'poppins', sans-serif;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg, #161144, #210D26, #24243E);
    animation: bg 12s ease infinite;
} 

@keyframes bg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 0% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.back-button, a{
    display: block;
    margin: auto;
    padding: 10px 30px;
    border: none;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.back-button:hover{
    background-color: #8E2DE2;
}

.payment-container{
    margin: 100px;
    padding-bottom: 100px;
}

.payment-form {
    border: 1px solid #8E2DE2;
    background-color: transparent;
    padding: 45px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 20px #210D26;
    transition: transform 0.5s;
}

.payment-form:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px #210D26;
}

.payment-form h1 {
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.payment-form label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.payment-form input,
.payment-form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color:#e6e8fa;
    border-radius: 5px;
    transition: 0.5s;
}

.payment-form input:hover{
    color: #8E2DE2;
}


.payment-form .summary {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.payment-form button {
    width: 100%;
    padding: 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.payment-form button:hover {
    background-color:#8E2DE2;
}
#payment-method{
    display: block;
    padding: 10px 20px;
    margin: auto;
}
.payment-options label{
    padding: 10px;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.line{
    height: 5px;
    width: 500px;
    color: #3c1261;
    box-shadow: 10px 0 200px 20px #8e2de2;
    background-image: linear-gradient(45deg, #21139c, #9641ac, #6060e5);
}
